<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Website Cycle</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='websitetv.css') }}"
        />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            var base_url = "{{ base_url }}";
            base_url = base_url.replace("/tv", "");
            console.log("Base URL:", base_url);

            const websites = [
                `${base_url}/plan`,
                `${base_url}/group`,
                `${base_url}/tree`,
            ];

            let currentIndex = 0;

            function cycleWebsites() {
                // Create a new iframe
                const iframe = $("<iframe>")
                    .attr("src", websites[currentIndex])
                    .appendTo("body");

                // Remove old iframes
                $("iframe").not(iframe).remove();

                currentIndex = (currentIndex + 1) % websites.length;
            }

            $(document).ready(function () {
                cycleWebsites(); // Load the first website on page load
                setInterval(function () {
                    cycleWebsites();
                }, 11000); // 11000 milliseconds = 11 seconds (adjust the total time as needed)
            });
        </script>
    </head>
    <body>
        <!-- Initial content will be replaced dynamically -->
        <div id="subbox">
            <a id="nextTeam1" class="nextTeams">Next Team 1</a>
            <a id="scoreTeams" class="nextTeams">3 : 4</a>
            <a id="nextTeam2" class="nextTeams">Next Team 2</a>
        </div>

        <script>
            var data = {{ initial_data|tojson|safe }};
            console.log('Initial data:', data);
        </script>

        <script src="{{url_for('static', filename='websitetv.js')}}"></script>
    </body>
</html>
