<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>footballtree</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='websitetree.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            <h1>Winterturnier 2023</h1>
        </div>
        <div id="main-container">
            <!-- Your other content here -->
        </div>
        <button id="drawTreeButton">Draw Tree</button>
        
        <script src="{{url_for('static', filename='websitetree.js')}}"></script>

    </body>
</html>


