html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

h1 {
    color: white;
    font-size: 5vh;
    text-align: center;
    align-self: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 2vh;
}

p {
    color: white;
    font-size: 2.5vh;
    text-align: center;
    align-self: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-wrap: wrap;
}

#not-found {
    color: white;
    text-align: center;
    align-self: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 3vh;
}

#returnButton {
    background-color: #49ba67;
    border: none;
    border-radius: 1vh;
    color: white;
    padding: 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vh;
    cursor: pointer;
    align-self: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.24),
        0 1vw 3vw 0 rgba(0, 0, 0, 0.19);
    z-index: 99;
}

#returnButton:hover {
    background-color: #3d8e4f;
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.24),
        0 1vw 3vw 0 rgba(0, 0, 0, 0.19);
}
#advertissimo1 {
    color: red;
    display: block;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;
    animation: glow 1.5s infinite alternate;
    font-size: 3.5vh;
}

@keyframes glow {
    from {
        text-shadow: 0 0 0px yellow;
    }
    to {
        text-shadow: 0 0 10px yellow, 0 0 15px yellow, 0 0 20px yellow;
    }
}
