html,
body {
    width: 100%;
    margin: 0; /* Add this line */
    padding: 0; /* Add this line */
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.header {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.header h1#websiteTitle {
    color: white;
    font-size: 5vw;
    text-align: center;
    align-self: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
}

#returnButton {
    background-color: #49ba67;
    border: none;
    border-radius: 0.5vw;
    color: white;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 0.5vw;
    cursor: pointer;
    align-self: center;
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.24),
        0 1vw 3vw 0 rgba(0, 0, 0, 0.19);
    margin-left: 3vw;
    z-index: 99;
}

#returnButton:hover {
    background-color: #3d8e4f;
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.24),
        0 1vw 3vw 0 rgba(0, 0, 0, 0.19);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#name-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 80%;
}

#name-input {
    width: 50vw;
    height: 3vw;
    font-size: 2vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 0.2vw solid #49ba67;
    background-color: #1a1a1a;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    outline: none;
    align-self: center;
    box-shadow: 0.7vw 0.7vw 0.7vw 0.2vw rgba(0, 0, 0, 0.501),
        2vw 2vw 1vw 0.2vw rgba(0, 0, 0, 0.299);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#name-info {
    color: white;
    font-size: 0.7vw;
    margin: 0;
    margin-bottom: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    align-self: center;
    margin-top: 0.3vh;
}

#tipping-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 80%;
    height: 70%;
}

#label-game-select {
    color: white;
    font-size: 2vw;
    margin: 0;
    margin-bottom: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    align-self: center;
}

#game-select {
    width: 40%;
    height: 3vw;
    font-size: 2.5vh;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 0.2vw solid #49ba67;
    background-color: #1a1a1a;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    outline: none;
    align-self: center;
    box-shadow: 0.7vw 0.7vw 0.7vw 0.2vw rgba(0, 0, 0, 0.501),
        2vw 2vw 1vw 0.2vw rgba(0, 0, 0, 0.299);
}

#game-select option {
    background-color: #1a1a1a;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 0.5vw 1vw;
    font-size: 1.5vh;
}

#vote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 50%;
    border: 0.2vw solid #49ba67;
    border-radius: 0.5vw;
    padding: 1vw;
    background-color: #1a1a1a;
    box-shadow: 0.7vw 0.7vw 0.7vw 0.2vw rgba(0, 0, 0, 0.501),
        2vw 2vw 1vw 0.2vw rgba(0, 0, 0, 0.299);
}

.teams {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 100%;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 100%;
}

.team {
    font-size: 2.5vh;
    background-color: #1a1a1a;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#goals1,
#goals2 {
    font-size: 2.5vh;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #1a1a1a;
    border: 0.2vw solid #49ba67;
    border-radius: 0.5vw;
    padding: 0.5vw;
    width: 60%;
    outline: none;
}

#submit-button {
    background-color: #49ba67;
    border: none;
    border-radius: 0.5vw;
    color: white;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 0.5vw;
    cursor: pointer;
    align-self: center;
    margin-bottom: 2vw;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.24),
        0 1vw 3vw 0 rgba(0, 0, 0, 0.19);
}

.vote-title {
    color: white;
    font-size: 3vw;
    margin: 0;
    margin-bottom: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    align-self: center;
}

.vs {
    color: white;
    font-size: 3vw;
    margin: 0;
    margin-bottom: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    align-self: center;
}

input.disabled {
    border: 0.2vw solid #404040 !important;
    background-color: #333333 !important;
    color: #7e7e7e !important;
}

button.disabled {
    border: 0.2vw solid #404040 !important;
    background-color: #333333 !important;
    color: #7e7e7e !important;
    cursor: default;
}

button.disabled:hover {
    cursor: default;
}

div.disabled {
    border: 0.2vw solid #404040 !important;
}

@media (max-width: 800px) {
    #name-input {
        width: 90vw;
        height: 6vw;
        font-size: 2.5vh;
        padding: 1vw;
        border-radius: 1vw;
        border: 0.1vh solid #49ba67;
    }

    #name-info {
        font-size: 1vh;
        text-align: center;
        width: 90vw;
    }

    #tipping-content {
        width: 90%;
    }

    #game-select {
        width: 80%;
        height: 4vh;
        font-size: 4vw;
        padding: 1vw;
        border-radius: 1vw;
    }

    #game-select option {
        padding: 1vw 2vw;
        font-size: 3vw;
    }

    #label-game-select {
        font-size: 2.5vh;
    }

    #vote-container {
        width: 90%;
    }

    .teams {
        margin-bottom: 4vh;
    }

    .names {
        margin-bottom: 4vh;
    }

    .team {
        font-size: 4vw;
    }

    #goals1,
    #goals2 {
        font-size: 4vw;
        padding: 1vw;
        border-radius: 1vw;
    }

    #submit-button {
        font-size: 4vw;
        padding: 2vw;
        margin-bottom: 4vw;
    }

    .vote-title {
        font-size: 6vw;
    }

    .vs {
        font-size: 6vw;
    }
}
