/* Reset default styles for the body and HTML elements */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #1a1a1a;
}

/* Additional CSS within the iframes to hide #returnButton */
iframe {
    display: block;
    width: 100%;
    height: 75%;
    border: none;
}

/* Hide #returnButton inside each iframe */
iframe html body .header #returnButton {
    display: none !important;
}
