html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    font-family: "Roboto", sans-serif;
    padding-top: 2vw;
}

h1 {
    color: white;
    font-size: 5vw;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0.7vw;
    width: 50vw;
    height: 20vh;
    border-radius: 2vw;
    background-color: #49ba67;
    font-size: 4vw;
    font-weight: bold;
    color: white;
}

a {
    color: white;
    font-size: 1.5vw;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: 0.3vw;
    margin-bottom: 0;
    font-weight: bold;
    text-decoration: none;
}

.MadeBy {
    margin-top: 3vw;
}

.link,
.link:visited,
.link:active {
    color: #49ba67;
}

.link:hover {
    color: #3d8e4f;
}

/* Media query for larger screens */
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 10vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    button {
        width: 80vw;
        height: 10vh;
        font-size: 6vw;
        font-size: 7vw;
        margin-top: 3vw;
    }

    .MadeBy {
        margin-top: 10vw;
    }

    a {
        color: white;
        font-size: 5vw;
        text-align: center;
        font-family: "Roboto", sans-serif;
        margin-top: 1vw;
        margin-bottom: 0;
        font-weight: bold;
        text-decoration: none;
    }
}
